VerbrauchsApp.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ConsumptionData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Car">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ExportDatum" type="LangDatumTyp" />
              <xsd:element name="Hersteller" type="xsd:string" />
              <xsd:element name="Typ" type="xsd:string" />
              <xsd:element name="Kennzeichen" type="xsd:string" />
              <xsd:element name="Startkilometer" type="xsd:int" />
              <xsd:element name="Kraftstoff" type="KraftstoffTyp" />
              <xsd:element name="Durchschnittsverbrauch" type="xsd:decimal" />
            </xsd:sequence>
            <xsd:attribute name="InAppCarID" type="xsd:int" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Consumptions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="Consumption">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Datum" type="KurzDatumTyp" />
                    <xsd:element name="Kilometerstand" type="xsd:int" />
                    <xsd:element name="GefahreneKilometer" type="xsd:int" />
                    <xsd:element name="LiterGetankt" type="xsd:decimal" />
                    <xsd:element name="PreisJeLiter" type="xsd:decimal" />
                    <xsd:element name="Verbrauch" type="xsd:decimal" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="KurzDatumTyp">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="[0-9]{2}.[0-9]{2}.[0-9]{4}"/>
	</xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LangDatumTyp">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="[0-9]{2}.[0-9]{2}.[0-9]{4}-[0-9]{2}.[0-9]{2}.[0-9]{2}"/>
	</xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KraftstoffTyp">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Benzin" />
		<xsd:enumeration value="Diesel" />
		<xsd:enumeration value="LPG" />
		<xsd:enumeration value="Ethanol" />
		<xsd:enumeration value="Wasserstoff" />
		<xsd:enumeration value="Strom" />
		<xsd:enumeration value="Sonstige" />
	</xsd:restriction>
  </xsd:simpleType>
</xsd:schema>